// _general.scss] ******/

body {
    font-family: var(--montserrat);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    svg {
        image-rendering: auto;
    }
    overflow-x: hidden;
    // overflow-y: hidden;
}
#top {
    animation: none; /* Animation inactive par défaut */
    border-top: 0.5px solid transparent;
}
p {
    max-width: 720px;
    margin: 0 auto;
    @include paragraph;
}
h2 {
    @include h2Title;
}
input,
button,
select,
textarea,
option {
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
}
option {
    cursor: pointer;
}
*:focus-visible {
    outline: 2px solid $primary-blue;
}
/* Reset List Styles */
ul,
ol {
    list-style: none;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: auto;
}

@keyframes opacityAnimationDelay {
    0% {
        opacity: 0;
        display: none;
    }
    50% {
        display: inherit;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opacityAnimation {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
// @keyframes shadowAnimation {
//     0% {
//         @include menuShadow(rgba(0, 0, 0, 0.5));
//     }
//     100% {
//         @include menuShadow(rgba(0, 0, 0, 0.25));
//     }
// }
@keyframes opacityWidthAnimationIn {
    0% {
        opacity: 0;
        width: 0;
    }
    66% {
        width: 50%;
        opacity: 0;
        transform: translateY(-20px);
    }
    90% {
        width: 100%;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes opacityWidthAnimationOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    10% {
        width: 100%;
    }
    66% {
        width: 50%;
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
        width: 0%;
    }
}
