//_variables.scss

$primary-blue: #1a6de5;
$secondary-blue: #009ee2;

$primary-black: #1e1e1e;
$black: #000;
$white: white;

$bg-black-900-dark: #151515;

$shadow-rgba: rgba(48, 46, 77, 0.15);

/* Typo */

$roboto: "RobotoFlex", sans-serif;
$montserrat: "Montserrat", sans-serif;
$nunito: "Nunito", sans-serif;
