//_variables.scss

// $primary-blue: #1a6de5;
$primary-blue: rgba(26, 109, 229, 1);
$dark-blue: rgb(1, 82, 195);
// $secondary-blue: #009ee2;
$secondary-blue: rgba(0, 158, 226, 1);

$primary-orange: rgb(209, 73, 5);
$secondary-orange: rgba(255, 97, 29, 1);

$primary-black: #1e1e1e;
$black: #000;
$white: white;

$bg-black-900-dark: #151515;

$shadow-rgba: rgba(48, 46, 77, 0.15);

/* Typo */

$roboto: "RobotoFlex", sans-serif;
$montserrat: "Montserrat", sans-serif;
$nunito: "Nunito", sans-serif;
