// @import "../../../pages/home/slider/sunBG";
// @import "../../../pages/home/slider/sliderRoad";
// @import "../../../pages/home/slider/sliderContent";
// @import "../../../pages/home/slider/sliderArrow";
// @import "../../../pages/home/slider/sliderCTA";
// @import "../../../pages/home/slider/sliderInfo";


@import "../../home/slider/sliderRoad";
@import "../../home/slider/sliderContent";
@import "../../home/slider/sliderArrow";
@import "../../home/slider/sliderCTA";
@import "../../home/slider/sliderInfo";
@import "../../home/slider/sunBG";



.slider-bg {
    position: relative;

    margin: 0 auto;

    z-index: 0;

    max-height: fit-content;
}
.sld-bg,
.slider {
    height: 100%;
    width: 100%;
    position: absolute;
}
#slider {
    min-height: calc(810px - 92px);
}
.sld-sun,
.sld-info_ctn,
.slide {
    width: 900px;
    float: right;
    margin-right: 90px;
}
