.section {
    width: 100%;
    height: 100vh;
    .fixed-menu {
        height: calc(60px + 2rem);
        width: 100vw;
    }
    h2 {
        height: 90px;
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        // font-size: 1.5rem;
        // font-weight: 600;
        background: #fff;
        background: orangered;
        margin: 0;
    }
    .s1,
    .s2,
    .s3 {
        padding: 2rem;
        background: rgb(227, 195, 195);
        height: calc(100vh - 180px);
    }
    .s2 {
        background: rgb(172, 212, 172);
    }
    .s3 {
        background: rgb(176, 176, 214);
    }
}
