header {
    padding: 1rem 2rem 1.5rem 2rem;
    margin: 0 auto;
    position: fixed;
    display: inline-flex;
    gap: 2rem;
    flex-flow: row;
    box-sizing: content-box;
    width: calc(100% - 4rem);
    height: 50px;
    background: linear-gradient(
        180deg,
        rgba(245, 245, 245, 1) 0%,
        rgba(245, 245, 245, 0) 95%,
        rgba(245, 245, 245, 0) 100%
    );
}
nav {
    display: flex;
    justify-content: space-around;
}
.main-nav {
    display: inline-flex;
    padding: 15px 24px;
    gap: 32px;
    width: 610px;
    border-radius: 25px;
    background: $white;
    @include menuShadow(rgba(0, 0, 0, 0.25));
}
.main-nav .group_link-submenu {
    position: relative;
}
.main-nav .group_link-submenu:hover .submenu,
.main-nav .group_link-submenu:focus .submenu {
    display: block;
}
.head-link {
    height: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.nav-icon {
    width: 18px;
    height: 18px;
    display: block;
}

.nav-link {
    @include navLink;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    height: auto;
    margin-left: -1.5rem;
    width: calc(100% + 3.5rem);
    padding-top: 1.5rem;
    box-sizing: border-box;
    z-index: 10;
}
.submenu_group {
    background-color: $white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    @include menuShadow(rgba(0, 0, 0, 0.25));
}
.submenu_group a {
    display: block;
    margin: 0;
    align-items: center;
    gap: 10px;
}

.icon-color,
.submenu_group:hover a.active,
.nav-link {
    fill: $primary-black;
    color: $primary-black;
    transition: fill 0.35s ease, color 0.35s ease;
}

.main-nav:hover .group_link-submenu .head-link:hover .icon-color,
.main-nav:hover .group_link-submenu .head-link:hover .nav-link,
.nav-link:hover {
    fill: rgb(209, 73, 5);
    color: rgb(209, 73, 5);
    // filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    transition: fill 0.35s ease, color 0.35s ease;
}
.main-nav:hover .group_link-submenu .head-link:hover {
    // background: linear-gradient(
    //     to bottom,
    //     #fff 0%,
    //     rgba(21, 21, 21, 0.3) 50%,
    //     #fff 100%
    // );
    // background: rgba(255, 142, 66, 0.3);
    transition: all 0.7s ease;
}
// .main-nav:hover .group_link-submenu .head-link.hovered .icon-color,
.main-nav:hover .group_link-submenu .head-link.active:hover,
.submenu_group:hover .nav-link.active:hover,
.main-nav:hover .group_link-submenu .head-link.active:hover .icon-color,
.main-nav:hover .group_link-submenu .head-link.active:hover .nav-link,
// .head-link:hover .icon-color,
// .head-link:hover .nav-link,
.submenu_group a:hover,
.head-link.active .icon-color,
.head-link.active .nav-link,
.submenu_group a.active {
    fill: $primary-blue;
    color: $primary-blue;
    transition: fill 0.35s ease, color 0.35s ease;
    background: none;
}
.logo {
    margin: 0;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    z-index: 1;
    @include menuShadow(rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    background: $white;
    border: 1px solid $secondary-blue;
    cursor: pointer;
    .mouth,
    .eyes {
        transform: rotate(0deg);
        transform-origin: center;
        transition: transform 0.5s ease-in-out;
    }
    .logo-fp {
        fill: $white;
        @include dropShadow(rgba(0, 0, 0, 0.35));
    }
    .logo-circle,
    .logo-bg {
        filter: blur(0.1px);
    }
    &:hover {
        @include dropShadow(rgba(0, 0, 0, 0.25));
        .logo-bg {
            @include dropShadow(rgba(0, 0, 0, 0.05));
            border-radius: 50%;
        }
        .logo-circle {
            display: none;
        }
        .eyes {
            animation: eyeAnimation 0.5s 0.25s;
            transform: rotate(1deg);
            transform-origin: center;
        }
        .mouth {
            transform: rotate(-7deg);
            transform-origin: center;
            transition: transform 0.5s ease-in-out;
        }
        .logo-fp {
            display: none;
        }
    }
    @keyframes eyeAnimation {
        0% {
            d: path(
                "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
            );
        }
        50% {
            d: path(
                "M64.2 47.8c.2 1.4 6.8 1.5 9.3 1.2 4.9-.3 4.7-1.4-.2-1s-9.1 1.4-9.1 0.8z"
            );
        }
        100% {
            d: path(
                "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
            );
        }
    }
}
