header {
    padding: 1rem 2rem 1.5rem 2rem;
    margin: 0 auto;
    position: fixed;
    display: inline-flex;
    gap: 2rem;
    flex-flow: row;
    box-sizing: content-box;
    width: calc(100% - 4rem);
    height: 50px;

    nav {
        display: flex;
        justify-content: space-around;

        .main-nav {
            display: inline-flex;
            padding: 15px 24px;
            gap: 32px;
            width: 610px;
            border-radius: 25px;
            background: $white;
            @include menuShadow(rgba(0, 0, 0, 0.25));
            div.group_link-submenu {
                position: relative;
                &:hover .submenu {
                    display: block;
                }
                .head-link {
                    height: 20px;
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    text-decoration: none;
                    .nav-icon {
                        width: 18px;
                        height: 18px;
                        display: block;
                        .icon-color {
                            fill: $primary-black;
                        }
                    }
                    .nav-link {
                        @include navLink;
                    }
                    &:hover {
                        .icon-color,
                        .nav-link {
                            fill: $secondary-blue;
                            color: $secondary-blue;
                        }
                    }
                    &.active {
                        .icon-color,
                        .nav-link {
                            fill: $secondary-blue;
                            color: $secondary-blue;
                        }
                    }
                }

                .submenu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    height: auto;
                    margin-left: -1.5rem;
                    width: calc(100% + 3rem);
                    padding-top: 1.5rem;
                    // background: red;

                    box-sizing: border-box;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    z-index: 10;
                    // border: 1px solid #000;
                    &_group {
                        // position: absolute;
                        background-color: #ffffff;
                        border-radius: 1.5rem ;
                        padding: 1.5rem;
                        display: flex;
                        flex-flow: column;
                        gap: 1rem;
                        // top: 1.5rem;

                        a {
                            display: block;
                            margin: 0;
                            // text-align: right;
                            // padding: 0.5rem 0.5rem 0.5rem 1rem;
                            color: #343a40;
                            // background-color: green;
                            // border: 1px solid #000;
                            // height: 20px;
                            // display: inline-flex;
                            align-items: center;
                            gap: 10px;
                            text-decoration: none;
                            @include navLink;
                            &.active {
                                fill: $secondary-blue;
                                color: $secondary-blue;
                            }
                            &:hover {
                                fill: $secondary-blue;
                                color: $secondary-blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
.logo {
    margin: 0;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    z-index: 1;
    @include menuShadow(rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    background: $white;
    border: 1px solid $secondary-blue;
    cursor: pointer;
    .mouth,
    .eyes {
        transform: rotate(0deg);
        transform-origin: center;
        transition: transform 0.5s ease-in-out;
    }
    .logo-fp {
        fill: $white;
        @include dropShadow(rgba(0, 0, 0, 0.35));
    }
    .logo-circle,
    .logo-bg {
        filter: blur(0.1px);
    }
    &:hover {
        @include dropShadow(rgba(0, 0, 0, 0.25));
        .logo-bg {
            @include dropShadow(rgba(0, 0, 0, 0.05));
            border-radius: 50%;
        }
        .logo-circle {
            display: none;
        }
        .eyes {
            animation: eyeAnimation 0.5s 0.25s;
            transform: rotate(1deg);
            transform-origin: center;
        }
        .mouth {
            transform: rotate(-7deg);
            transform-origin: center;
            transition: transform 0.5s ease-in-out;
        }
        .logo-fp {
            display: none;
        }
    }
    @keyframes eyeAnimation {
        0% {
            d: path(
                "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
            );
        }
        50% {
            d: path(
                "M64.2 47.8c.2 1.4 6.8 1.5 9.3 1.2 4.9-.3 4.7-1.4-.2-1s-9.1 1.4-9.1 0.8z"
            );
        }
        100% {
            d: path(
                "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
            );
        }
    }
}
