.contact {
    margin-bottom: 136px;
    .contact-bg {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 1587px;
        z-index: 0;
    }

    .ctc-content {
        position: relative;
        z-index: 1;
        top: 0;

        width: 100%;
        height: 100%;
        padding: 45px 84px;
        img.contact-bg {
            position: absolute;
            z-index: 0;
            object-fit: cover; /* Assure que l'image couvre tout en respectant ses proportions */
            width: 100%; /* S'adapte à la largeur du conteneur */
            height: 100%; /* S'adapte à la hauteur du conteneur */
            border-radius: 45px; /* Applique le rayon aux coins */
        }
        .ctc-layout {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 45px;

            color: black;

            h2 {
                width: 329px;
                text-align: left;
            }
            .ctc-announcement {
                margin: 0;
                width: fit-content;
                img {
                    width: 45px;
                    height: 45px;
                    margin-right: 42px;
                }
                p {
                    width: 622px;
                    @include paragraph();
                    color: black;
                }
                &:last-child {
                    p {
                        width: 400px;
                    }
                }
            }
            .ctc-info {
                flex-flow: wrap;
                justify-content: space-between;
                row-gap: 45px;
                .ctc-card,
                .ctc-social_card {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    @include paragraph;
                    width: calc(390px);
                    height: 225px;
                    padding: 40px 20px;
                    border-radius: 16px;

                    background: $grey-light;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    text-align: center;
                    img {
                        width: 45px;
                        height: 45px;
                        margin-bottom: 20px;
                    }
                    p {
                        width: 100%;
                        @include paragraph();
                        color: #000;
                    }
                }
                .ctc-social_card {
                    width: calc(831px);
                    text-align: left;
                    p {
                        align-self: start;
                        margin: 0 0 0 25px;
                    }
                    .social-icons {
                        margin-top: 35px;
                        padding: 0 25px;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        height: 90px;
                        .social-icon {
                            width: 92px;
                            height: 92px;
                            background: $white;
                            border-radius: 12px;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                            svg {
                                width: 90px;
                                height: 90px;
                                object-fit: cover;
                                border-radius: 12px;

                                .bg-color {
                                    fill: $primary-blue;
                                }

                                .icon-color {
                                    fill: $white;
                                    filter: drop-shadow(
                                        0px 4px 4px rgba(0, 0, 0, 0.35)
                                    );
                                }
                            }

                            &:hover,
                            &:active {
                                svg {
                                    filter: drop-shadow(
                                        0px 4px 2px rgba(0, 0, 0, 0.35)
                                    );

                                    .bg-color {
                                        fill: $secondary-orange;
                                    }
                                }
                            }

                            &:active .icon-color {
                                fill: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.ctc-layout {
    .ctc-form {
        position: relative;
        left: -42px;
        width: 1350px;
        width: calc(100% + 84px);
        height: 630px;
        background: $white;
        padding: 45px 42px;
        display: flex;
        flex-flow: column wrap;
        gap: 42px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        border-radius: 18px;
        .form-title {
            width: 610px;
            height: 50px;
            gap: 30px;
            justify-content: flex-start;
            h2 {
                width: fit-content;
                justify-content: flex-start;
                padding: 0;
                margin: 0;
            }
            .flx-c {
                width: 37px;
                height: 32px;
            }
        }
        .form-questions {
            width: 610px;
            flex-flow: wrap;
            gap: 18px;
            .questions {
                width: 610px;
                align-self: start;
                display: inline-flex;
                justify-content: space-between;
            }
            p,
            label {
                margin: 0;
                text-align: left;
                @include navLink;
            }
            .response {
                display: inline-flex;
                justify-content: flex-end;
                height: 24px;
                input[type="checkbox"] {
                    position: relative;
                    margin: 0 2px;
                    left: 14px;
                    &:last-of-type {
                    }
                }
                span {
                    left: -12px;
                }
            }
        }
    }
}
@media (max-width: 1390px) {
    .contact {
        .ctc-content {
            position: relative;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 42px 84px;
            img.contact-bg {
                position: absolute;
                z-index: 0;
                object-fit: cover;
                width: calc(100% - 84px);
                left: calc(84px / 2);
                height: 100%;
                border-radius: 45px;
            }
            .ctc-layout {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                gap: 45px;
                color: black;
                h2 {
                    width: 329px;
                    text-align: left;
                }
                .ctc-announcement {
                    margin: 0;
                    width: fit-content;
                    padding: 8px 16px;
                    border-radius: 16px;
                    // background: #ffb121;
                    background: rgba(255, 177, 33, 0.35);
                    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5) inset;
                    img {
                        width: 45px;
                        height: 45px;
                        margin-right: 42px;
                    }
                    p {
                        width: 622px;
                        @include paragraph();
                        color: black;
                    }
                    &:last-child {
                        p {
                            width: 400px;
                        }
                    }
                }
                .ctc-info {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
                    gap: 45px;
                    max-width: 831px;
                    margin: 0 auto;

                    .ctc-card,
                    .ctc-social_card {
                        display: grid;
                        place-items: center;
                        @include paragraph;
                        width: 100%;
                        height: 225px;
                        padding: 40px 20px;
                        border-radius: 16px;
                        background: $grey-light;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        text-align: center;

                        img {
                            width: 45px;
                            height: 45px;
                            margin-bottom: 20px;
                        }

                        p {
                            width: 100%;
                            @include paragraph();
                            color: #000;
                        }
                    }

                    .ctc-social_card {
                        grid-column: span 2;
                        height: 225px;
                        text-align: left;
                        display: flex;
                        justify-content: space-between;
                        p {
                            align-self: start;
                            margin: 0 0 0 25px;
                        }

                        .social-icons {
                            margin-top: 35px;
                            padding: 0 25px;
                        }
                    }
                }
            }
        }
    }
    .ctc-layout {
        .ctc-form {
            max-width: 831px;
            margin: 0 auto;
            height: auto;
            left: 0;
            .form-title {
                width: 610px;
                height: 50px;
                gap: 30px;
                justify-content: flex-start;
                h2 {
                    width: fit-content;
                    justify-content: flex-start;
                    padding: 0;
                    margin: 0;
                }
                .flx-c {
                    width: 37px;
                    height: 32px;
                }
            }
            .form-questions {
                width: 100%;
                .questions {
                    width: 100%;
                    padding: 0 45px;
                    justify-content: space-between;
                }
                &:nth-child(5) .questions {
                    // justify-content: center !important;
                    p {
                        width: 480px;
                    }
                }
                &:nth-child(5) {
                    position: relative !important;
                    top: -28px !important;
                }
            }

            .form {
                width: 100% !important;
                padding: 0 45px;
                &:nth-of-type(4) {
                    position: relative;
                    top: -28px;
                }
            }

            .endOF {
                width: 100% !important;
            }
        }
    }
}
