@import "../../assets/styles/utils";

.sld-CTA {
    // width: calc(302px - 8rem);
    width: 300px;
    height: 180px;
    border-radius: 24px;
    background: $white;
    position: absolute;
    z-index: 1000;
    margin: 200px 0 0 114px;
    // border: 1px solid #000;
    flex-flow: wrap;
    padding: 24px 0 21px 0;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    p {
        width: 175px;
        @include bannerDescribeBold;
        &.p1 {
            // border: 1px solid #000;
            // margin-top: 2rem;
            // letter-spacing: -1.12px;
        }
        &.p2 {
            font-size: 2rem;
            // border: 1px solid #000;
            text-align: right;
            // margin-bottom: 1rem;
        }
    }
}
